*.class

# Package Files #
*.jar
*.war
*.ear

# NetBeans specific #
/WSMatchMaking/nbproject/private/
/WSMatchMaking/build/
/WSMatchMaking/nbbuild/
/WSMatchMaking/dist/
/WSMatchMaking/nbdist/
/WSMatchMaking/nbactions.xml
/WSMatchMaking/nb-configuration.xml
/WSMatchMaking/src/output.xml

# NetBeans specific #
/WSSemanticMatching/nbproject/private/
/WSSemanticMatching/build/
/WSSemanticMatching/nbbuild/
/WSSemanticMatching/dist/
/WSSemanticMatching/nbdist/
/WSSemanticMatching/nbactions.xml
/WSSemanticMatching/nb-configuration.xml
/WSSemanticMatching/src/output.xml

# NetBeans specific #
/SAWSDLSample/nbproject/private/
/SAWSDLSample/build/
/SAWSDLSample/nbbuild/
/SAWSDLSample/dist/
/SAWSDLSample/nbdist/
/SAWSDLSample/nbactions.xml
/SAWSDLSample/nb-configuration.xml
