*.class

# Package Files #
*.jar
*.war
*.ear

# NetBeans specific #
/WSMatchMaking/nbproject/private/
/WSMatchMaking/build/
/WSMatchMaking/nbbuild/
/WSMatchMaking/dist/
/WSMatchMaking/nbdist/
/WSMatchMaking/nbactions.xml
/WSMatchMaking/nb-configuration.xml
